
<p id = "updated_time_a" style = "margin: 10px 15px; text-align:right">เวลาเปลี่ยนแปลงล่าสุด : {{updated_date_x}}</p>
<div class="box bg-white text-center">
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <h3 class="card-title">อุณหภูมิ</h4>
            <div id="a_air_temperature" class="gauge"></div>
        </div>
        <div class="col-md-3 col-sm-12">
            <h3 class="card-title">ความชื้นสัมพัทธ์</h4>
            <div id="a_air_humidity" class="gauge"></div>
        </div>
        <div class="col-md-3 col-sm-12">
            <h3 class="card-title">ความสว่าง</h4>
            <div id="a_soil_temperature" class="gauge"></div>
        </div>
        <div class="col-md-3 col-sm-12">
            <h3 class="card-title">ดัชนีคุณภาพอากาศ</h4>
            <div id="a_soil_moisure"></div>
        </div>
    </div>
</div>
