<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="card">
            <div class="box bg-white text-center">
                <h1 class="font-light text-white">
                    <canvas class="graphsensor" id="airtempChart" ></canvas>
                </h1>
            </div>
        </div>
    </div>
   <div class="col-md-6 col-sm-12">
        <div class="card">
            <div class="box bg-white text-center">
                <h1 class="font-light text-white">
                    <canvas class="graphsensor" id="airhumidChart" ></canvas>
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="card">
            <div class="box bg-white text-center">
                <h1 class="font-light text-white">
                    <canvas class="graphsensor" id="soiltempChart" ></canvas>
                </h1>
            </div>
        </div>
    </div>
       <div class="col-md-6 col-sm-12">
        <div class="card">
            <div class="box bg-white text-center">
                <h1 class="font-light text-white">
                    <canvas class="graphsensor" id="soilhumidChart" ></canvas>
                </h1>
            </div>
        </div>
    </div>
</div>
